{% extends 'ExpenseApp/base.html' %}


{% block content %}


<div class="mainContainer">
    <div class="transContainer">

        <br />
        <div>
            <h3>Profile</h3>
        </div>
        <br />
  
        <form action="" method="post">
            {% csrf_token %}
            
                <div class="grp cat">
                    <label for="nameData">Name</label>
                    <input
                        type="text"
                        id="nameData"
                        name="nameData"
                        value="{{ name }}"
                        placeholder="Enter The Name ... "
                    />
                </div>

                <div class="grp cat">
                    <label for="catgory">Current Balance</label>
                    <input
                        type="text"
                        id="balanceData"
                        name="balanceData"
                        value="{{ current_bal }}"
                        placeholder="Enter the balance ... "
                    />
                </div>
                <div class="grp cat">
                    <label for="budgetData">Current Budget</label>
                    <input
                        type="text"
                        id="budgetData"
                        name="budgetData"
                        value="{{ current_bud }}"
                        placeholder="Enter the balance ... "
                    />
                </div>
          
                {% if ProData %} 
                    <input type="submit" style="display: none;"  value="Submit" />
                {% else %}
                    <input type="submit"  value="Submit" />
                {% endif %}
            <!-- <input type="submit" value="Submit" /> -->
        </form>
    </div>

  </div>

{% endblock %}

    
