{% extends 'ExpenseApp/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div style="width: 50%; margin-left: 10%;">
        <div>
            <h3>Show Transaction</h3>
        </div>
        <br>
        <div style="margin-left: 5rem;">
            <table id="transaction">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">DATE</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Transaction Type</th>
                    <th scope="col">Category</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for item in TransData %}

                    <tr>
                      <td scope="row">{{ forloop.counter }}</td>
                      <td>{{ item.transDate }}</td>
                      <td>{{ item.transDisc }}</td>
                      <td>{{ item.transType }}</td>
                      <td>{{ item.catData }}</td>
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
    </div>
    
{% endblock %}
    
    
