@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body{
    font-family: 'Montserrat' !important;
    
}

.bold{
    font-weight: bold;
}

.container{
    width: 100%;
    height: 100%;
}

#cardRow{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.section-stats .card-panel{
    margin: 8px;
    padding: 8px;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #fff;
}
.section-stats h1{
    font-size: 4vw;
    margin: 15px 0px;
}

@media(max-width: 768px){
    .section-stats h1{
        font-size: calc(16px + 4vw);
    }
}


ul {
    list-style-type: none;
    padding-inline-start:0;
}
.section-expenses .expense{
    font-size: 16px;
    border-radius: 0;
    margin: 0 ;
    padding: 7px;
    background-color: #fff;
    
}

.danger{
    background-color: #fff;
    padding: 10px;
    padding-inline-start:1rem;
    padding-inline-end: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }


.addContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form-group{
    margin-bottom: 3rem !important;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #a39d9d ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #333131;
}

/* css for label and input in form */
.grp{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.grp #date{
    width: 15rem;
}
/* Add a background color and some padding around the form */
.transContainer {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 60% ;
    height: 50%;
}
.mainContainer{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.mainContainer .transContainer #dateAndTime{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.mainContainer .transContainer #transType{
    width: 11rem;
    margin-left: 10px
}